<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="4.0.0" targetFramework="net461" />
  <package id="BrowserStackLocal" version="1.4.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="Enumeration" version="2.0.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net461" />
  <package id="FluentAssertions.Extensions" version="1.0.18" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.11" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net461" />
  <package id="RestAssured" version="1.0.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="SoftAssert" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>